<div class="friends-page">
   <app-header></app-header>

   <div class="friends-list wrapper-with-shadow">
      <div class="friends-header">
         <span>Список ваших друзей</span>
      </div>
      <div class="friend">
         <img src="../../../assets/vk-logo.svg" alt="">
         <a href="google.com" class="username">Иван Мягкий</a>
      </div>
      <div class="friend">
         <img src="../../../assets/vk-logo.svg" alt="">
         <a href="google.com" class="username">Иван Мягкий</a>
      </div>
   </div>
</div>
