// @font-face {
//   font-family: 'Arial Regular';
//   src: url('assets/fonts/arial/Arial-Regular.ttf');
// }

@font-face {
   font-family: 'Roboto Regular';
   src: url("assets/fonts/roboto/Roboto-Regular.ttf");
}


@font-face {
   font-family: 'Roboto Medium';
   src: url('assets/fonts/roboto/Roboto-Medium.ttf');
}

body {
   margin: 0;
   padding: 0;
   background-color: #EDEEF0;
}

* {
   font-family: 'Roboto Regular';
   font-weight: 500;
   font-size: 14px;
   outline: none;
   border: none;
}

.wrapper-with-shadow {
   background-color: #fff;
   border: 1px solid #E3E4E8;
   border-radius: 5px;
   box-shadow: 0 0.5px 1px 1px #e3e4e8;
}
